body {
    padding-top: 5rem;
}

.form-label{
    font-weight: bold;   
}

.req-lbl{
    color: red;
    font-weight: bold;
}

#send-btn{
    background-color: rgb(59, 59, 218);
    color: white;
    height: 45px;
    width: 15%;
    border: none;
    border-radius: 5px;
}

.flashes{
    border: 1px red solid;
    text-align: center;
    text-decoration: none;
    list-style: none;
}